@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap'); 

body{
    font-family: "Quicksand", sans-serif;
}

/* HEADER - NAV BAR*/

.navbar {
    background-color: #2b2b2b;
  }
  
  .navbar-toggler-icon {
    background-color: #ccc;
  }
  
  .navbar-nav .nav-item {
    text-align: center;
  }
  
  .navbar-nav .nav-item a {
    color: #ccc;
  
    transition: color 0.2s;
  }
  
  .navbar-nav .nav-item:hover a,
  .navbar-nav .nav-item.active a {
    color: #800020; /* Borgonha */
  }

  .navbar-brand span {
    color: rgb(156, 155, 155);
    font-size: 1em;
  }
  
  .navbar-brand {
    padding: 0;
  }

  
  /* CAROUSEL INDEX.HTML */
  .carousel {
    text-align: center;
  }
  
  .carousel-inner .carousel-item {
    text-align: center;
    position: relative;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto; /* proportion of image */
  }
  
  .carousel-caption {
    position: absolute;
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    width: auto;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .carousel-caption h3 {
    margin: 0;
    font-size: 15px;
  }

  .carousel-caption p{
    margin: 0;
    font-size: 13px;
  }
  
  .carousel-control-prev, .carousel-control-next {
    color: #fff;
    border: none;
  }
  
  .carousel-control-prev:hover, .carousel-control-next:hover {
    color: #ccc;
  }


  /* ABOUT RESTAURANT */
  .about-section {
    padding: 50px 0;
    background-color: #cec7c7;
    margin-top: 15px;
}

.about-us-text {
    text-align: center;
    padding-top: 20px;
}

.image-zoom {
    transition: transform 0.3s;
    border-radius: 10px;
}

.image-zoom:hover {
    transform: scale(1.1);
    border-radius: 15px;
}

  /* REVIEW SECTION */
  .review-section {
    max-width: 1200px;
    height: 50vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .carousel-review {
    width: 800%; 
    max-width: 100%; 
    height: 100%;
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .customer-review {
    flex: 0 0 33.33%; 
  }

  .customer-review:first-child {
    display: block;
  }

  .customer {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 20px;
  }
  
  .customer-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .customer-review img {
    max-width: 100%;
    height: auto;
  }
  
  .circular-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .customer-info {
    margin-left: 20px;
  }
  
  .customer-info h2 {
    font-size: 1.2em;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  
  .review {
    font-size: 1em;
  }
  
  .stars {
    font-size: 1.5em;
    margin-top: 5px;
  }
  
  .star {
    color: #f9d71c;
  }
  

  /* FOOTER */
  footer {
    background-color: #2d2d2d;
    color: #ccc;
    padding: 20px 0;
  }
  
  .footer div .container {
    padding: 0;
  }
  
  .custom-card {
    background-color: #2d2d2d;
    text-align: left;
    width: 100%; 
    text-align: center;
    padding: 20px;
  }
  
  li a {
    color: #ccc;
    text-decoration: none;
  }
  
  li a:hover{
    color: #91e095;
    text-decoration: none;
  }

  .custom-card ul {
    list-style: none;
    padding: 0;
  }
  
  .custom-card li {
    text-align: left; 
  }
  
  .custom-card img {
    display: block;
    margin: 0 auto; 
    width: 90px;
  }
  
  .custom-card img.credit-card {
    display: block;
    width: 80px;
    margin: 0; 
  }
  
  .custom-card ul li img.footer-logo {
    display: inline-block;
    max-width: 40px;
    height: auto;
    margin-right: 10px;
  }

  .developer-footer{
    align-content: center;
    padding: 10px 0;
  }
  .developer-footer a{
   color: #2b2b2b;
   padding: 10px;
  }

  .black-icon {
    color: #000;
}

  /* MENU */  
  .menu {
    max-width: 800px;
    margin: 20px auto;
  }

  .menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    margin: 20px 0; 
    text-align: justify;
  }

  .menu-item img {
    max-width: 60%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s, filter 0.3s;
    margin: 0;
  }
  
  .menu-content {
    max-width: 90%;
  }
  
  .menu-content h2{
    text-align: center;
    padding-top: 10px;
  }
  .menu-content h2::before {
    margin-right: 10px;
  }
  
  .menu-link {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    width: 150px;
    margin: 20px auto;
    border-radius: 10px;
  }

  .menu-link:after {
    content: "";
    display: block;
  }
  
  .menu-link:hover{
    text-decoration: none;
    color: #2b2b2b;
    background-color: #cec7c7;
    font-weight: bold;
    cursor: pointer;
  }
  
  .image-zoom {
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .image-zoom.enlarge {
    transform: scale(2);
  }

  /* MIDIA QUERIES*/  

  @media (max-width: 768px) {
    .navbar-expand-md .navbar-toggler {
      display: block;
    }
  
    .navbar-expand-md .navbar-collapse {
      display: none;
    }
  
    .navbar-expand-md .navbar-toggler-icon {
      display: block;
    }
  
    .navbar-expand-md .show {
      display: block;
    }
    
  }
  
  @media (min-width: 769px) {
    .navbar-nav {
      margin-left: auto;
    }
  
    .navbar-brand {
      margin-right: auto;
    }

    .carousel-caption {
    margin-bottom: 20vh;
    }

    .carousel-item{
      height: 90vh;
      width: 100%;
    }
    
    .about-us-text {
      text-align: justify;
  }

    .carousel-caption h3 {
      margin: 0;
      font-size: 20px;
    }

    .carousel-caption p{
      margin: 0;
      font-size: 15px;
    }

    .review-section{
      padding-top: 40px;
    }

/* MENU */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-content {
  padding-left: 20px;
  padding-right: 20px;
}
.menu-item {
  flex-direction: row;
  margin-bottom: 60px;
  margin-top: 30px;
}
  
.menu-item img {
  max-width: 40%;
}
 
.menu-item img:hover {
  transform: scale(1.3);
  filter: brightness(70%);
  cursor: pointer;
}
  
.menu-link:hover {
  text-decoration: none;
  color: #2b2b2b;
  background-color: #cec7c7;
  font-weight: bold;
  cursor: pointer;
}

}
